	.body{	
	background-color: black;
	width:100%;
}	
	.nav-cent{
		text-align: center;
		width:100%;
}
	.nav-cent span{
		font-size: 18px;	
}

	.nav-cent tp{
		font-size: 13px;
}
	.nav-li{
		display:table-cell;
		width: 16%;
}	
	
	.nav-cent cx{
		width:10%;
		padding: 10px 10px;
		-webkit-border-radius: 0px;		
		background-color: #f7f7f7;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);		
}	
	.nav-cent ul{
		color: white;
		margin-left:-2.5%;		
}
	
	.nav-cent li{
		font-size: 10px;
		display: inline-block;
		
}
	
	.titulo_cent{
		
		font-size: 4.35em;
		font-weight: 900;
		letter-spacing: -0.001em;
		line-height: 1em;
		color:white;
				
}
	.titulo_cent p{
		
	    font-family: Lucida Console;
	    font-size: 0.5em;
	    font-weight: initial;
	    margin: 0.35em 0 0.25em;
	    opacity: 0.48;
		font-size: 40px;
		color:grey;
		font-style:bold;		
}
	
	.input-group{
		width: 50%;
		margin-left:25%;
		padding: 3%;		
}			
	
	.cont-group{}
	
	.cont-group li{
		height:2.5em;
		padding: 3px;			
}	
	.cont-group a:hover {
		text-decoration: none;
		padding 10px;
		color:#337ab7;		
}	
	.cont-group a {
		font-size: 30px;
		color: white;		
}	
	.well-painel {
		background-color: black;
		border: 1px solid #7b7b7b;
		border-radius: 20%;
		color: black;
		margin-bottom: 20px;
		min-height: 25px;
		padding: 21px 16px 18px;		
}	
	div.scroll {
		height: 13em;
		width: 18em;
		overflow: auto;
		padding: 8px;		
}

	div.scroll li.separador{
		width: 100%; /* coloque aqui a largura da linha */
		border-bottom: 1px solid rgba(154, 152, 152, 0.15);
		list-style-type: none;
		font-size:0.9em;	
}

div.scroll a{
		border-radius: 4px;
		color: #222222;
		display: block;
		height: auto;
		line-height: auto;
		overflow: hidden;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 0.25em 0 rgba(0, 0, 0, 0.25) inset;
		text-overflow: ellipsis;
		white-space: nowrap;
}
div.scroll a:hover{
		background-color: #275E8D;
		color: #ffffff;
		text-decoration: none;   
}

	.out-put-comands{
		color:white;
		margin-top:3em;
		margin-bottom:2.5em;
		background:#242424;
}
	
	.footer-cent{
		color:white;
		bottom:0;
		width:100%;
		position: fixed;
}